name: Node.js

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: |
          npm install npm -g
          
      - name: Run tests
        run: |
          node cc-mod.js http://minearm.org cc.txt 7200 GET
          node cc-mod.js https://zhiyuhub.top cc.txt 21000 GET
